---
title: The Ruby Closures Book | Benjamin Tan Wei Hao
---

<header>
  <div class="container">
    <div "row">
      <div class="col-md-12 text-center">
        <h1>Do you <span class="underline">really grok</span> Ruby's <span class="pink">Blocks</span>, <span class="pink">Procs</span>, and <span class="pink">Lambdas</span>?
        <h3>And no, simply knowing how to use <code>Array#map</code> doesn't count.</h3>
        <hr class="divider">
      </div>
      <div class="col-md-6">
        <h2 class="text-center">What you'll learn from this book</h2>
        <ul>
          <li>What are closures?</li>
          <li>Why and how are closures useful?</li>
          <li>The differences between lambdas and procs</li>
          <li>Ruby patterns using blocks</li>
          <li>Real-world examples of closures</li>
          <li>Implement your own testing framework, lazy enumerables and DSLs</li>
          <li>And much more ...</li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        <a href="https://leanpub.com/therubyclosuresbook"><%= image_tag "ruby-closures-cover.png" %></a>
      </div>
    </div>
  </div>
</header>

<section id="story">
  <div class="container">
    <div "row">
      <div class="col-md-10 col-md-push-1">
        <h2 class="text-center">Who is this book for?</h2>
        <hr class="divider"/>

        <iframe width="160" height="400" src="https://leanpub.com/therubyclosuresbook/embed" frameborder="0" allowtransparency="true" style="float:left; margin-right: 60px;"></iframe>
        <div>
          <p>I have been a Ruby programmer for quite a number of years, but until recently, I have been blissfully ignorant of one of Ruby's most powerful features. That is, until one day, I saw a co-worker casually write a method that took in a block. Holy ****! <strong>I realized at that moment, I had a major gap in my Ruby knowledge.</strong></p>


          <p>Sure, I knew how to use blocks, and vaguely knew how to use lambdas in Rails scopes. But who was I kidding? I was never going to be a competent Ruby programmer if I didn't fix this.</p>

          <p>Here's the thing. I spoke to a few of my Ruby programmer friends, and guess what, the situation is the same. If you are like that then <strong>this book is for you.</strong></p>

          <p><strong>This book will help you gain a deep understanding of Ruby's closures, and more importantly, how to harness its power.</strong></p>

      </div>

      <div class="text-center">
        <a href="https://leanpub.com/therubyclosuresbook" class="buy-btn">Sounds Awesome!</a>
      </div>

      </div>
    </div>
  </div>
</div>
</section>


<section id="toc">
  <div class="container">
    <div class="row">

      <div class="col-md-10 col-md-push-1">
        <h2 class="text-center">Table of Contents</h2>
        <hr class="divider"/>

        <ul class="toc no-parts">
          <li>
            Welcome!
            <ul>
              <li>
                Why this book?
              </li>
              <li>
                Who is this book for?
              </li>
              <li>
                How to use this book
              </li>
              <li>
                Structure of the book
              </li>
              <li>
                About Ruby versions
              </li>
              <li>
                Let’s do this!
              </li>
            </ul>
          </li>
          <li>
            Closing in on Closures
            <ul>
              <li>
                Closures made to sound hard
              </li>
              <li>
                Closures are <em>not</em> hard
              </li>
              <li>
                Lexical scoping: closest one wins
              </li>
              <li>
                Closures, finally!
              </li>
              <li>
                Doing the lambda
              </li>
              <li>
                Using lambdas to build other lambdas
              </li>
              <li>
                First-class functions
              </li>
              <li>
                Summary
              </li>
              <li>
                Exercises
              </li>
              <li>
                Solutions
              </li>
            </ul>
          </li>
          <li>
            Beautiful Blocks
            <ul>
              <li>
                yield and block_given?
              </li>
              <li>
                yield semantics
              </li>
              <li>
                Argument passing
              </li>
              <li>
                Blocks for enumeration
              </li>
              <li>
                Implementing times
              </li>
              <li>
                Implementing each
              </li>
              <li>
                Exercises
              </li>
              <li>
                Solutions
              </li>
              <li>
                Managing resources with block
              </li>
              <li>
                Implementing File.open
              </li>
              <li>
                Exercises
              </li>
              <li>
                Solutions
              </li>
              <li>
                Making object initialization beautiful
              </li>
              <li>
                Implementation
              </li>
              <li>
                Creating DSLs with blocks
              </li>
              <li>
                Using instance_eval to change self
              </li>
              <li>
                Exercises
              </li>
              <li>
                Solutions
              </li>
              <li>
                Blocks are closures
              </li>
              <li>
                Block local variables
              </li>
              <li>
                Block variables act like parallel assignment
              </li>
              <li>
                Summary
              </li>
            </ul>
          </li>
          <li>
            Proctology
            <ul>
              <li>
                The four ways of calling procs
              </li>
              <li>
                Lambdas
              </li>
              <li>
                Stabby lambda syntax
              </li>
              <li>
                How does Symbol#to_proc work?
              </li>
              <li>
                Exercises
              </li>
              <li>
                Solutions
              </li>
              <li>
                Lambdas – same same, but different
              </li>
              <li>
                The difference between a lambda and a proc
              </li>
              <li>
                Lambdas or procs?
              </li>
              <li>
                Exercises
              </li>
              <li>
                Solutions
              </li>
              <li>
                Currying with Procs
              </li>
              <li>
                The Relationship between Blocks and Procs
              </li>
              <li>
                Procs in the real world
              </li>
            </ul>
          </li>
          <li>
            Cheap Counterfeiting
          </li>
          <li>
            Epilogue
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center">
    <a href="https://leanpub.com/therubyclosuresbook" class="buy-btn">Grok Ruby Closures Today!</a>
  </div>

</section>

<section id="author">
  <div class="container">
    <div class="row col-md-12">
      <h2 class="text-center">Who Am I</h2>
      <hr class="divider"/>
    </div>
    <div class="row col-md-10 col-md-push-1">
      <%= image_tag "portrait.png", id: "portrait", class: "img-circle center-block" %>
      <p>Ohai! I'm <%= link_to "Benjamin", "http://benjamintan.io", target: "_blank" %>. I am a software engineer at <%= link_to "Neo Innovation", "http://www.neo.com", target: "_blank" %>. I absolutely love Ruby. Even after using it for years, I still find so much more to learn. You can read some of my articles on Ruby on <a href="http://www.sitepoint.com/author/btan/" target="_blank">SitePoint</a>.
      </p>

      <p>I live in Singapore with my wonderful wife. I am currently working on <a href="http://www.exotpbook.com" target="_blank">another book.</a> (If you are into <a href="http://www.elixir-lang.org" target="_blank">Elixir</a>, you'll love it.)</p>

      <p>If you have any questions at all, I'm an <a href="mailto:benjamintanweihao@gmail.com">email</a> away.</p>
    </div>
  </div>  
</section>

<footer>
  <div class="container">
    <div class="spacing"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline social-btns">
          <li><a href="mailto:benjamintanweihao@gmail.com"><i class="fa fa-envelope-o color1"></i></a></li>
          <li><a href="https://twitter.com/bentanweihao" target=_blank><i class="fa fa-twitter color2"></i></a></li>
          <li><a href="#top" class="page-scroll"><i class="fa fa-angle-double-up color3"></i></a></li>
          <li><a href="https://sg.linkedin.com/in/benjamintanwh" target=_blank><i class="fa fa-linkedin color4"></i></a></li>
          <li><a href="http://github.com/benjamintanweihao" target=_blank><i class="fa fa-github color5"></i></a></li>
        </ul>
        <small>Copyright by <%= link_to "Benjamin Tan Wei Hao", "http://benjamintan.io", target: "_blank" %> &copy;</small>
      </div>
    </div>
  </div>
</footer>
